/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Montserrat', sans-serif;
  background: #333;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 70px;
  /* Vertically center the text there */
  background-color: #14314f;
  color: #fff;
  text-align: center;
  border-top: 2px solid #fff;
  font-size: .8em;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


.headerBg {
  background: #14314f;
  border-bottom: 2px solid #fff;
}


#login {
  border-radius:15px;
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  color:#fff;
  box-shadow:.5px .5px 5px #000;
  /*   display: none; */
}

#login:hover{
  background:#14314f;
  color:#fff;
}

#loggedIn {
  font-size:.95em;
  border-radius:15px;
  float: right;
  margin-right: 20px;
  margin-top: 25px;
  font-weight:600;
  /* display: none; */
}



#logo {
  padding: 20px 20px;
}

#initialSearchDIV {
  text-align: center;
  display: inline-block;
  padding-top: 6%;
}


.initialSearchInputGroup {
  margin: 0px auto
}


#initialSearchDIV h2 {
  padding-bottom: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}

#initialSearchDIV h5 {
  padding-bottom: 30px;
  color: #fff;
}

#initialSearchBodyContent {
  height: 83vh;
  position: relative;
  z-index: 1;
  background: #333;
  text-align: center;
}

#initialSearchBodyContent:before {
  text-align: center;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/initialSearchPage2.jpg') no-repeat center center;
  background-size: cover;
  opacity: .35;
}


#searchInput,
#searchButton {
  border-radius: 0;
}

#initialSearchButton,
#searchButton{
  background:#14314f;
  opacity:.9;
}

#initialSearchButton:hover,
#searchButton:hover{
  background:#6c757d;
}


.bodyContent {
  background: #333;
}


.bucketListCol {
  padding-left:0;
  min-height:200px;
}


#bucketList {
  background: #ddd;
  height: 100%;
  text-align:center
}


#userBucketListTitle,
#addToBucketListLink{
    background: #005a5b;
    color:#fff;
    border:1px solid #005a5b;
    border-radius:10px;
}

#addToBucketListLink{
  box-shadow:.5px .5px 5px #000;
}


#addToBucketListLink:hover{
  background:#005a5b;
  color: #fff;
  border: 2px solid #007368;
}

#userBucketListTitle{
  border-radius:0;
  padding:5px;
}

#jumboCityPhoto {
  position: relative;
  z-index: 1;
  background: #333;
  min-height: 250px;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 2px solid #fff;

}

#jumboCityPhoto:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('../images/resultsPage.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  margin-bottom: 0;
  opacity: .6;
}

.jumboContent {
  text-align: center;
  padding-top: 9%;
}

#cityName {
  color: #fff;
  font-size: 3em;
  text-shadow: 1px 1px 2px #000;
  font-weight: bold;

}

#placeholderMap{
  width:100%;
 padding:40px;
}


#weatherTitle h4,
#thingsToDoTitle h4{
  color:#fff;
  font-weight:bold;
  margin-top:40px;
}


.rightCol{
  text-align: left;
}


.bodyRow{
  margin-right:0;
}


.row{
  margin-right:0;
}

.col{
  padding-right:0;
}

.allBody{
  padding:0;
}


.mapCol{
  padding-right:0;
}

#initialSearchBodyContent{
  margin-bottom:0;
  height:83vh;
}

.initialSearch{
  padding-right:0;
}











@media (max-width:576px) {
  #logo {
    text-align: center;
    padding: 20px 10px;

  }

  #login,
  #loggedIn {
    width: 100%;
    border-radius: 0;
    margin: 0;
    border-top: 0px solid #fff;
    border-bottom: 2px solid #fff;
  }

  .header {
    text-align: center;
  }

  /* #initialSearchBodyContent {
    height: 81.2vh;
  } */
}






@media (min-width: 576px) and (max-width: 767.98px) {


  .initialSearchInputGroup {
    width: 80%;
  }

}


@media (min-width: 768px) and (max-width: 991.98px) {

  .initialSearchInputGroup {
    width: 70%;
  }

}

@media (min-width: 768px) {
  .resultsCol{
  padding-right:0;
  border-right: 2px solid #fff;
}
}



@media (min-width: 576px) {
  #initialSearchBodyContent {
    height: 85.3vh;
  }
}

#initialSearchDIV h2 {
  font-size: 2.5em;
}



@media (min-width: 992px) and (max-width: 1199.98px) {
  .initialSearchInputGroup {
    width: 75%;
  }
}

@media (min-width: 1200px) {

  .initialSearchInputGroup {
    width: 80%;
  }

}